/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
}

/* Background Glow */

.background{
    position:absolute;
    width:100%;
    height:100%;
    background:
    radial-gradient(circle at top right,#60a5fa55,transparent 40%),
    radial-gradient(circle at bottom left,#1d4ed855,transparent 40%);
    z-index:-1;
}

/* Glass Card */

.container{
    width:380px;
    padding:35px;
    text-align:center;

    background:rgba(255,255,255,0.12);

    border:1px solid rgba(255,255,255,0.25);

    backdrop-filter:blur(12px);

    border-radius:20px;

    box-shadow:0 10px 35px rgba(0,0,0,.35);
}

/* Heading */

.container h1{
    color:#fff;
    margin-bottom:25px;
    font-size:34px;
}

.container h1 i{
    color:#ffd43b;
}

/* Timer */

#display{
    font-size:48px;
    font-weight:700;
    color:white;
    margin:20px 0 30px;
    letter-spacing:3px;
}

/* Buttons */

.buttons{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:12px;
}

button{
    border:none;
    padding:12px 22px;
    border-radius:30px;
    color:white;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
}

#startBtn{
    background:#22c55e;
}

#pauseBtn{
    background:#facc15;
    color:#111;
}

#resetBtn{
    background:#ef4444;
}

#lapBtn{
    background:#3b82f6;
}

/* Lap Section */

.lap-box{
    margin-top:25px;
    text-align:left;
}

.lap-box h3{
    color:white;
    margin-bottom:10px;
    text-align:center;
}

#laps{
    list-style:none;
    max-height:170px;
    overflow-y:auto;
}

#laps li{
    background:rgba(255,255,255,.15);
    color:white;
    padding:10px;
    border-radius:8px;
    margin-bottom
